*{
    font-family: Kanit;
}

h1 {
    color: #14244d;
    font-size: 36px;
    margin-top: 10px;
}

html{
    display: flex;
    justify-content: center;
}

body {
    background-color: #f0dbaf;
    width: 50%;
}

.naslov{
    text-align: center;
}

.head{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #f4d19d;
    box-shadow: 0px 4px 10px black;
}

.credits{
    font-weight: 400;
    font-size: 12px;
}

.upis{
    text-align: center;
    display: block;
    margin-top: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: #f4d19d;
    box-shadow: 0px 4px 10px black;
}

.skup{
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
}

.porukaUpisa{
    color: #14244d;
    margin-bottom: 0px;
}

.uputaUpisa{
    margin-top: 0px;
    font-size: 12px;
}

.glavni{
    display: flex;
    justify-content: center;
}

.upis2{
    text-align: center;
    display: block;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #f4d19d;
    box-shadow: 0px 4px 10px black;
}

.znamenke{
    margin-top: 10px;
}

.izracunaj{
    margin-top: 20px;
    background-color: gainsboro;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 10px black;
    opacity: 1;
}

.izracunaj:hover{
    opacity: 0.7;
}

.ispis{
    visibility: hidden;
}

h3{
    color: #14244d;
}